.navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #003580;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.logo{
    font-weight: 500;
}
.navButton{
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    color: #003580;
}